# local remains local
local/
flake8_report/
*-*_wait
app/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Visual Studio Code # 
.vscode\*
.vscode/*
.vscode\settings.json
.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Django #
# *.log
*.pot
*.pyc
__pycache__
db.sqlite3
media


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
# best practice is to protect in .env file our SECRETs.
.env
ENV/

