[flake8]
max-line-length = 99
max-function-length=50
doctests = True
# no time yet to divide __init__ or create a factory fonction
# extend-ignore = CFQ002 
exclude=
    # unworthy time & CPU consomption
    .gitignore,
    .git,
    .env
    # no needs to go thru \env\site-packages\
    ENV/
    # There's no value in checking cache directories
    __pycache__,
    # django migrations & other tests
    */migrations/*
    */former_migration_folder/*
    */tests/*
